# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node dependencies
/node_modules/

# Angular build output
/dist/
/out-tsc/

# Angular CLI cache
/.angular/

# IDE/editor files
.vscode/
.idea/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files (optional, if you keep secrets locally)
# uncomment if you don’t want env files in git
# *.env
# .env.local
# .env.*.local

# OS files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
